.welcome-page-container{
  background-color: #12110e;
  height: 93.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-button{
  padding: 3vh 5vh;
  background-color: #3d3a30;
  color: #F45800;
  font-weight: 700;
  font-size: large;
}