.music-player{
  border: none;
  margin-top: 5px;
  width: 90%;
}
.songs-controller{
  grid-area: songs-controller;
}
.home-container{
  text-align: center;
}
.music-frame{
  margin-top: 20px;
}
.remove-favourite{
  width: 90%;
}
.no-favourites{
  color: #AEA6A6;
}